<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title> Calculator </title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<h1>Welcome to the world of Calculator</h1>
  <nav>
    <ul>
      <li><a href="/calculat8r"> Basic Calculator </a></li>
      <li><a href="/measurement_calc"> Measurement Conversion </a></li>
      <li><a href="/volume_calc"> Volume Calculation </a></li>
      <li><a href="/age_calculator">Age Calculator </a></li>
      <li><a href="/sleeps"> Sleeps until Christmas </a></li>   
    </ul>
  </nav>

  <%= yield %>


</body>
</html>