<h1> sleeps until Christmas </h1>

<form method="get" action="/sleeps">
  <input type='date' name="dates" placeholder="YYYY/MM/DD">
  <button> SleepCalculatorBeforeXmas !!! </button>
</form>



<h1> <%= @result %> </h1>