<h1> This is a Volume Calculator </h1>
<h1> what shape do you have? </h1>
<h1> (c)ube, OR (s)phere: </h1>
<h1> For Cube, please provide the length of its sides?</h1><br>
<h1> For Sphere provide its radius? </h1>

</form>
<form method="get" action="/volume_calc">
  <input type="float" name="vol_cal" placeholder="0.0" step="0.01">

  <select name="operator" value="<%= @operator %>">
    <option value="c" <%= 'selected = "selected"' if @operator=="c" %>>cube</option>
    <option value="s" <%= 'selected = "selected"' if @operator=="s" %>>sphere</option>
  </select>

  <button> Convert </button>
</form>

<% if @result %>
<h1>The result is <%= @result %></h1>
<% end %>