body{
  background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRvoDre74UmlDvsYdnxlC4WUq6HY52LFW21uBVGCgrDBfYchAUo");
  background-position: right top;
  background-repeat: no-repeat;
  margin-right: 500px;
  background-color: #E3CAA1;
  text-align: center;
}

ul{
  list-style-type: none;
}

li {
  font-size: 200%;
}
